body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.card {
    width: 22rem;
    margin: 1rem;
}

.card-img-top {
    display: block;
    max-height: 18rem;
    width: auto;
    object-fit: contain;
}

.card-description {
    font-style: italic;
    font-size: 0.9rem;
}

.navbar {
    position: sticky;
}

.custom-navbar-brand {
    font-size: xx-large !important;
}

.cart {
    color: white;
}

.cart-item {
    font-size: 1.25rem;
}